* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.border{
    max-width: 1000px;
    margin: 30px auto;
    overflow: auto;
    min-height: 300px;
    border: 1px solid steelblue;
    padding: 30px;
    border-radius: 5px;
}

.scene{

}
.battleground{
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
}

.team{
    padding: 5px;
}

.character{
 width:100%;
 padding: 5px;
 margin: 5px;
}

.active .character{
    background-color: burlywood;
}

.status{
    background-color: cadetblue;
    padding: 10px;
}

.characterModel{
    background-color: black;
    margin: 5px;
    height: 100px;
    min-height: 10px;
    min-width: 10px;
    max-width: 20%;
}

.hpBarBackground{
background-color: rgb(136, 135, 135);
margin:10px;
}

.hpBarCurrent{
    background-color: rgb(0, 128, 0);
}

.actionsBorder{
    margin: 30px auto;
    overflow: auto;
    border: 1px solid rgb(57, 156, 236);
    padding: 30px;
    border-radius: 5px;
}

.actionsTable{
    background-color: rgb(75, 77, 75);
}